*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

.header{
    width: 100%;
    overflow: hidden;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header-logo{
    color: white;
    font-size: 50px;
}

.header-list{
    display: flex;
    column-gap: 30px;
}

.header-link{
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.header-fantasy{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.header-cloud{
    position: absolute;
    top: 15%;
}

.cloud-one{
    left: 10%;
}

.cloud-two{
    left: 52%;
}


.cloud-three{
    right: 10%;
}

.header-boat{
    position: absolute;
    top: 60%;
    left: 7%;
}

body{
    height: 1500px;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.header-title{
    font-size: 100px;
    font-weight: 700;
    text-shadow: 0 0 5px black;
    color: #fff;
}

.parallax{
    height: 500px;
}

.parallax-title{
    padding: 20px 0;
    background-color: #fff;
    text-align: center;
    font-size: 60px;
}

.parallax-box{
    width: 100%;
    height: 100%;
    position: relative;
}

.parallax-banner{
    width: 100%;
    height: 140%;
    object-fit: cover;
    z-index: -1;
}

.parallax-ball{
    position: absolute;
}

.layer_1{
    top: 12%;
    left: 15%;
}

.layer_2{
    right: 10%;
    top: 10%;
}

.timer{
    margin-top: 400px;
}

.timer-cards{
    display: flex;
    justify-content: space-between;
}

.timer-card{
    width: 100px;
    height: 100px;
    flex-wrap: nowrap;
    background-color: #7e5252;
    justify-content: center;
    text-align: center;
}

.timer-card__num{
    margin-top: 10px;
    margin-bottom: 10px;color: white;
}

.timer-card__text{
    margin-bottom: 10px;
}

.timer-card__btn{
    margin-top: 10px;
    background-color: #861313;
    text-decoration: none;
    color: white;
}