@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition:0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: rgb(10, 24, 224);
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition:0.2s;
}

body{
    width: 100%;
}

/* HEADER START */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:rgb(6, 6, 238);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 50%;
    height: 2px;
    background:rgb(6, 6, 238);
    position: absolute;
    bottom: -4px;
    left: 20px;
}



/* HOME PAGE */

#hero{
    background-image:url("img/hero.jpg");
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 5% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
   color: #088178;
}

#hero a{
   background-image: url("img/button.jpg");
   background-color: transparent;
   color: #088178;
   border: none;
   text-decoration: none;
   border-radius: 10px;
   padding: 16px 70px 14px 65px;
   background-repeat: no-repeat;
   cursor: pointer;
   font-weight: 700;
   font-size: 15px;
}

#hero a:hover{
    color:white;
    background-color:#088178;
    background-image:none;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
   width: 180px;
   text-align: center;
   padding: 25px 15px;
   box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
   border: 1px solid #cce7d0;
   border-radius: 4px;
   margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1); 
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color:#fddde4;
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   flex-wrap: wrap;
   flex-direction: row;
}


#product1 .pro{
   width: 23%;
   max-width: 250px;
   padding: 10px 12px;
   border: 1px solid #cce7d0;
   border-radius: 25px;
   cursor: pointer;
   box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.050);
   margin: 15px 0;
   transition:0.2s ease ;
   position: relative;
   flex-direction: row;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size:12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color:#1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color:rgb(243, 181, 25) ;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 20px;
    font-weight: 700;
    color:#088178 ;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #cdd4f8;
    color: #088178;  
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 15px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:url("img/sala.jpg") ;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}


#banner h2{
    color: rgb(158, 108, 108);
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: rgb(109, 5, 5);
}

#banner button:hover{
    background: #088178;
    color: #fff;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image:url("img/1 free.jpg") ;
    background-repeat: no-repeat;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image:url("img/summer.jpg") ;
}

#sm-banner  h4{
    color: rgb(148, 136, 136);
    font-size: 20px;
    font-weight: 300;
}

#sm-banner  h2{
    color: rgb(128, 20, 20);;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
    color: #fff;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image:url("img/season.jpg") ;
    background-repeat: no-repeat;
    min-width: 30%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    background-image:url("img/clothe.jpg") ;
}

#banner3 .banner-box3{
    background-image:url("img/new.jpg") ;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 h2{
    color:#fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color:#ec544e;
    font-weight: 900;
    font-size: 22px;
}

#newsletter{
   display: flex;
   justify-content: space-between;
   flex-wrap:wrap;
   align-items: center;
   background-position: 20% 30%;
   background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter .form{
    width: 40%;
    display: flex;

}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em; 
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space:nowrap;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .copyright{
    position: relative;
    top: -30px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius:6px ;
    width: 120px;
    height: 80px;
}

footer .install img{
    margin: 13px 0 17px 0;
}

footer .follow a:hover{
    color: #088190;
}

footer i:nth-child(1):hover{
    color: blue;
}

footer i:nth-child(2):hover{
    color: royalblue;
}

footer i:nth-child(3):hover{
    color: red;
}

footer i:nth-child(4):hover{
    color: blue;
}

footer i:nth-child(5):hover{
    color: red;
}

footer .copyright{
    width: 100%;
    text-align: center;
}


/*  Media = Responsive */

@media (max-width:550px) {
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow:0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }

    #navbar li{
        margin-bottom: 25px;
    }
}